[user]
	name = Julio Ernesto Quintero
	email = jequinterope@unal.edu.co
	signingkey = 91EC2107
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = vim
	autocrlf = input
[advice]
	addIgnoredFile = false
[gpg]
	minTrustLevel = fully
	program = gpg
[push]
	gpgSign = if-asked
[tag]
	gpgSign = true
[commit]
	gpgsign = true
