[user]
	name = Julio Quintero
	email = jequinterope@unal.edu.co
	signingKey = F95F83CC91EC2107
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = vim
	autocrlf = input
[advice]
	addIgnoredFile = false
[gpg]
	minTrustLevel = fully
[push]
	gpgSign = if-asked
[tag]
	gpgSign = true
[commit]
	gpgsign = true
